#container {
  text-align: center;
  margin: 15px;
  width: 650px;
  height: 360px;
  background-color: #0000a0;
}
#canvas {
  margin: 0 auto;
  border: 5px solid #888888;
}
.players {
  position: absolute;
  padding: 10px;
  width: 630px;
}

#player_1 {
  text-align: left;
  float: left;
  width: 300px;
}

#player_2 {
  text-align: right;
  float: right;
  width: 135px;
}
.ai_input{
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  border: 5px solid #888888;
  font-weight: normal;
  font-size: 14px;
  background-color: #0000a0;
  width: 100%;
}
.ai_input_label{
  display:block;
  text-align:center;
  color:white;
}
