/* Main Styles */
@font-face {
font-family: 'FixedsysExcelsior301Regular';
src: url('fsex300-webfont.eot');
src: url('fsex300-webfont.eot?#iefix') format('embedded-opentype'),
     url('fsex300-webfont.woff') format('woff'),
     url('fsex300-webfont.ttf') format('truetype'),
     url('fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
font-weight: normal;
font-style: normal;
-webkit-font-smoothing:aliased;
font-smooth:never;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: #fcfcfc;
  font-size: 14px;
  font-weight: bold;
  font-family: FixedsysExcelsior301Regular;
}
hr{
  border-color: black;
}
ul
{
  list-style-type: none;
}

.menu{
  background-color: #888888;
  color: #fff;
  height: 26px;
}

.menu-button {
  background-color: #888888;
  color: #000;
  font-family: FixedsysExcelsior301Regular;
  font-size: 20px;
  width: auto;
  padding: 3px 10px 3px 10px;
}

.menu-button:hover{
  background-color: #0000a0;
  color: #888888;
}

.info {
  padding: 3px;
  font-family: FixedsysExcelsior301Regular;
  color: #0000a0;
  font-size: 16px;

}

#textbox {
  font-weight: normal;
}

#container {
  width: 650px;
  height: 360px;
  margin: 100px auto;
  position: relative;
  border-radius: 10px;
  background: #000;
}

.players {
  position: absolute;
  padding: 10px;
  width: 630px;
}

#player_1 {
  text-align: left;
  float: left;
  width: 300px;
}

#player_2 {
  text-align: right;
  float: right;
  width: 135px;
}

label, input {
  float: left;
}

label {
  margin-right: 5px;
  clear: left;
}

input {
  background: #0000a0;
  width: 50px;
  border: none;
  color: #fff;
}

#canvas {
  background-color: #0000a0;
  margin: 0 auto;
  border: 5px solid #000;
  border-radius: 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    top: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #888888;
    color: black;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    font-size: 23px;
}
.modal-box{
  border: 2px solid black;
  text-align: center;
}
.close{
  padding: 10px;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
