/* Main Styles */
@font-face {
font-family: 'FixedsysExcelsior301Regular';
src: url('fsex300-webfont.eot');
src: url('fsex300-webfont.eot?#iefix') format('embedded-opentype'),
     url('fsex300-webfont.woff') format('woff'),
     url('fsex300-webfont.ttf') format('truetype'),
     url('fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
font-weight: normal;
font-style: normal;
-webkit-font-smoothing:aliased;
font-smooth:never;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  color: #FCFCFC;
  font-size: 14px;
  font-weight: bold;
  font-family: FixedsysExcelsior301Regular;
}

#play {

  margin-left: 10px;
  padding: 3px;
  font-size: 20px;
  font-family: FixedsysExcelsior301Regular;

}

#clickMe {
  width: 80px;
  padding: 3px;
  font-size: 20px;
  font-family: FixedsysExcelsior301Regular;
}

#top {
  color: #0000a0;
  text-align: center
}

#container {
  width: 650px;
  height: 360px;
  margin: 100px auto;
  position: relative;
  border-radius: 10px;
  background: #000;
}

.players {
  position: absolute;
  padding: 10px;
  width: 630px;
}

#player_1 {
  text-align: left;
  float: left;
  width: 300px;
}

#player_2 {
  text-align: right;
  float: right;
  width: 135px;
}

label, input {
  float: left;
}

label {
  margin-right: 5px;
  clear: left;
}

input {
  background: #0000a0;
  width: 50px;
  border: none;
  color: #fff;
}

#canvas {
  background-color: #0000a0;
  margin: 0 auto;
  border: 5px solid #000;
  border-radius: 15px;
}